/* the main form for user input into post */
div#form_post_field input#post_body {
    width: 100%;
    height: 50px;
    font-size: 200%;
    border: 1px solid #aaa;
}

div#form_post_submit input#post_submit {
    width: 100%;
    height: 54px;
    border: 1px solid #aaa;
}