table {
    padding: 0;
    margin: 0;

    border-collapse: collapse;
    border: 1px solid #aaa;
}

thead tr {
    background: #fc9;
}

tbody {
    padding: 5px
}

tr {}

td {padding: 5px}

/* POST */

table#posts {
    width: 100%;
}

table#posts thead {}

table#posts thead tr {}

table#posts tbody {}

table#posts tbody tr {}

table#posts tbody tr td {}