<h4>About zenfoc.us</h4>

<p>
Zen focus started as a simple idea to stay focus on small task that you
accomplish every day. Have you every tried starting on an ambitious project and
have all the good intentions later. 8 hours later, you still have these same
good intentions without anything accomplished on your part. What went wrong? If
you are like me, you were probably browsing on the interweb instead on working on
something productive. So how do you get more productive ...
</p><br/>

<p>
Write your goals down. Yes, its really that simple.
</p><br/>

<p>
zenfoc.us is a dead simple way to enter down task you are working on at the
moment and how long this task will take you. Once you start to do this, you will
notice that you are far more productive than you would be otherwise.
</p>