<%= content_tag_for(:tr, post) do %>
  <td><%= post.body %></td>
  <td><%= post.completed_at %></td>
  <td>(<%= link_to 'Delete', post, :confirm => 'Are you sure?',
                :method => :delete, :remote => true %>)</td>
<% end %>
