<table id="posts">
  <!-- labels for colums -->
  <thead>
    <tr>
      <th id="post_task_complete"> </th>
      <th id="post_task_text">task</th>
      <th id="post_task_date">date completed</th>
      <th id="post_task_options">options   </th>
    </tr>
  </thead>

  <!-- table contents rendered in a partial called _post -->
  <tbody>
    <%= render :partial => @posts.reverse %>
  </tbody>
</table>