<table id="posts">
  <!-- labels for colums -->
  <thead>
    <tr>
      <th>task</th>
      <th>date completed</th>
      <th>options</th>
      <th>completed?</th>
    </tr>
  </thead>

  <!-- table contents rendered in a partial called _post -->
  <tbody>
    <%= render :partial => @posts.reverse %>
  </tbody>
</table>