<!-- FOOTER -->
<div class="grid_12" id="nav_footer">
  <p id="nav_footer_links">
      <a href="http://localhost:3000/posts">zenfoc.us</a>
      |
      <a href="http://localhost:3000/about">about</a>
      |
      <a href="http://localhost:3000/help">help</a>
  </p>
</div>

<div class="clear"></div>