<!-- LOGO -->
<div class="grid_4" id="nav_header">
    <p id="nav_header_logo">
      zenfoc.us
    </p>
</div>

<!-- login / registration -->
<div class="grid_8" id="nav_header">
    <p id="nav_header_links">
      login / register
    </p>
</div>

<div class="clear"></div>